{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News!</h1>

    <p><b>Subscribe on news</b></p>
    <form name="subscribeOnNews" method="post" action="{{ path('subscribe_news') }}">
        <input type="hidden" name="token" value="{{ csrf_token('subscribe-on-news') }}" />

        <label>
            E-Mail:
            <input type="email" name="email">
        </label>

        <input type="submit" value="Subscribe">
    </form>

    {% if app.request.get('query') != null %}
        <p>
            Search results for query: <b>{{ app.request.get('query') }}</b>
            <a href="{{ path('index') }}">Clear</a>
        </p>
        <hr>
    {% else %}
    <p><b>Search news</b></p>
    <form name="searchNews" method="get" action="{{ path('search_news') }}">
        <label>
            Query:
            <input type="text" name="query">
        </label>

        <input type="submit" value="Search">
    </form>
    {% endif %}

    {% if app.request.get('tag') != null %}
    <p>
        News by Tag: <b>{{ app.request.get('tag') }}</b>
        <a href="{{ path('index') }}">Clear</a>
    </p>
    <hr>
    {% endif %}

    {% for news in news %}
        <article>
            <h1><a href="{{ path('single_news', {'id': news.id}) }}">{{ news.title }}</a></h1>

            <h2>{{ news.subTitle }}</h2>
            {% set tags = news.tags|split(',') %}
            <p>
                {% for tag in tags %}
                    <a href="{{ path('index', {'tag': tag|trim}) }}">{{ tag }}</a>
                {% endfor %}
            </p>

            <div>
                {{ news.body }}
            </div>

            <br>
            <a href="{{ path('single_news', {'id': news.id}) }}">Read More -></a>
            <hr>
        </article>
    {% endfor %}
{% endblock %}
